@charset "utf-8";

/* setting */
body {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
    word-break:break-word;
}

img {
    display: block;
    width: 100%;
}

.ir_pm {
	display:block;
	overflow:hidden;
	font-size:1px;
	line-height:0;
	color:transparent;
}

.sr-only {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
}

/* header */
.header {
    position: relative;
    height: 100vh;
    background-color: #F2E9D8;
    text-align: center;
}

.header::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -60px;
    left: 50%;
    width: 197px;
    height: 422px;
    transform: translateX(-50%);
    background: url("img/box-cat.png") center / cover no-repeat;
}

.header-navbar {
    display: flex;
    padding: 22px 20px;
}

.header-navbar h1 {
    margin-right: auto;
    width: 93px;
    height: 28px;
    background: url("img/logo.png") center / cover no-repeat;
}

.btn-download {
    padding: 11px 24px;
    border-radius: 40px;
    background-color: #D97652;
    color: #fff;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.wrap-txt {
    margin: 0 auto;
    width: 80vw;
    
}

/* main */
.cont-main {
    padding: 32px;
    margin-bottom: 400px;
}

.main-hodu {
    max-width: 660px;
    height: 190px;
    /* height: 390px; pc-size*/
    object-fit: cover;
    border-radius: 30px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25);
}

/* subs */
.sect-subs {
    position: relative;
    width: 100vw;
    min-height: 240px;
    max-height: 340px;
    background: url("img/img_5.jpg") center / cover no-repeat;
}

.sect-subs::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: #F2E9D8;
    opacity: 60%;
    z-index: 10;
}

.subs {
    position: absolute;
    left: 50%;
    bottom: 172px;
    width: 70%;
    padding: 36px 32px 30px;
    border-radius: 18px;
    background-color: #263140;
    color: #fff;
    transform: translateX(-50%);
    z-index: 20;
}

#subscribeForm {
    display: block;
    border-radius: 60px;
    padding: 12px 48px;
}

/* footer */
footer {
    display: flex;
    padding: 30px 20px 24px;
}

.footer-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: auto;
}

.footer-col h2 {
    width: 112px;
    height: 34px;
    background: url("img/logo.png") center / cover no-repeat;
}

.btn-sns {
    display: flex;
}

.btn-sns button {
    margin-right: 16px;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;
    background-color:#F29D52;
}

.footer-navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    color: #767676;
}

.footer-navbar li:not(:last-child) {
    margin-bottom: 16px;
}